a,
a:visited {
    text-decoration: none;
    color: blue;
    transition: color .2s ease-out;
}

a:hover {
    background: violet;
    color: aliceblue;
}

/*BODY GRADIENT CREDIT from Q ^_^: https://glitch.com/edit/#!/moving-gradient-bg-demo*/
body {
    font-family: helvetica, arial, sans-serif;
    /*    margin: 2em;*/
    width: 50%;
    margin-top: 5vh;
    overflow: scroll;
    text-align: left;
    display: grid;
    background: #BBF0A8;

    -webkit-font-smoothing: antialiased;
    background: -webkit-gradient(linear, left top, right top, from(rgba(155, 206, 238, 1)), color-stop(30%, rgba(255, 245, 204, 1)), color-stop(70%, rgba(145, 255, 141, 1)), to(rgba(185, 141, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(168, 237, 234, 1) 0%, rgba(255, 245, 204, 1) 30%, rgba(145, 255, 141, 1) 70%, rgba(185, 141, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(168, 237, 234, 1) 0%, rgba(255, 245, 204, 1) 30%, rgba(145, 255, 141, 1) 70%, rgba(185, 141, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(168, 237, 234, 1) 0%, rgba(221, 214, 243, 1) 30%, rgba(255, 245, 204, 1) 70%, rgba(252, 189, 255, 1) 100%);
    background-size: 400% 400%;
    -webkit-animation: gradient 20s ease infinite;
    animation: gradient 20s ease infinite;
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

canvas[resize] {
    width: 100%;
    height: 100%;
    position: fixed;
    user-select: none;
    pointer-events: none;
}

.container,
#thoughts {
    padding-bottom: 0vw;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.container-sub {
    padding-left: 1vw;
}

footer {
    font-size: .8em;
    padding-top: 5vw;
    text-align: right;
    font-style: bold;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}

.grid-child img {
    flex: 1;
    border: 1px dashed violet;
    padding: 1vw;
    justify-content: center;
    width: 400px;
    height: auto
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1,
h2,
h3 {
    /*    margin: 0px;*/
    color: white;
    text-shadow: -1px 0 #e60073, 0 1px #e60073, 1px 0 #e60073, 0 -1px #e60073;
    margin-top: 10vh;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.glow {
    color: #fff;
    /*  text-align: center;*/
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

/*
h1 span {
    margin-bottom: 1vw;
    background-color: violet;
    padding: 3px;

}
*/

h2,
h3 {
    margin-top: 0.5vw;
}

/*
img {
  width: 300px;
  height: auto
}
*/

.sticky-draggable {
    /*   border-radius: 25px; */
    padding: 1em;
    position: absolute;
    /*   z-index: 9; */
    cursor: move;
    background-color: #f8f4ec;
    /*    border: 1px solid #1c51ff;*/
    text-align: center;
    box-shadow: violet 0px 0px 5px 5px;
    transform: rotate(2deg);
}

.sticky-draggable:nth-of-type(1) {
    left: 60vw;
    top: 15vw;
}

.sticky-note {
    font-family: 'Lucida Console', sans-serif;
    font-size: 0.8em;
    line-height: 1.2em;
}

/*
.thoughts-grid{
    padding-top:1vw;
}
*/

.thoughts-para {
    padding-left: 3vw;
    padding-right: 5vw;
    padding-bottom: 1vw;
}


/*
iframe{
    width:300px;
    height: 300px;   
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto; 
}
*/

@media only screen and (max-width: 600px) {
    canvas#cursor-canvas {
        display: none;
    }
}
