body {
    background-size: cover;
    background-image: url("asset/dirt.jpg");
    overflow: hidden;
}

/*
.boxContainer {
    position: relative;
}

.buttonHolder {
    padding: 5%;
    display: absolute;
    margin-bottom: 5vw;
}
*/
#acknowledgement {
    display: none;
    text-align: center;
    /*    padding: 5px;*/
    right: 5%;
    top: 5%;
    width: 35%;
    position: fixed;
    background: darkolivegreen;
    z-index: 999;
}

#acknowledgement p {
    border-style: dotted;
    color: greenyellow;
}

#button-1 {
    left: 3%;
    bottom: 5%;
    position: fixed;
    z-index: 11;
}

/*
.desktops {
    position: relative;
    top: -25px;
    left: -35px;
    width: 500px;
    height: auto;
    display: block;
}
*/

/*CREDIT: cyber-title code from IML 400 cybernetic-garden-demo-1 by Q*/
.cyber-title p {
    /*    border: 3px solid black;*/
    /*    background-color: green;*/
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 3vw;
    padding: 0px;
    animation: textGlow 2s infinite;
    color: ghostwhite;
    -webkit-text-stroke: 0.5px darkgreen;
    -webkit-text-fill-color: white;
}

@keyframes textGlow {
    50% {
        text-shadow: 0px 0px 50px darkgreen;
    }
}


#desktop-angela,
#desktop-anne,
#desktop-chloe,
#desktop-devon,
#desktop-gray,
#desktop-hani,
#desktop-indiana,
#desktop-kenny,
#desktop-mendy {
    position: absolute;
    /*    transition: all .2s ease-in-out;*/
    /*    width: 160px;*/
}

#desktop-angela:hover,
#desktop-anne:hover,
#desktop-chloe:hover,
#desktop-devon:hover,
#desktop-gray:hover,
#desktop-hani:hover,
#desktop-indiana:hover,
#desktop-kenny:hover,
#desktop-mendy:hover {
    position: relative;
    cursor: url(asset/shovel.gif), auto;
    z-index: 5;
    /*    transform: scale(2.3);*/
}

ul {
    padding: 0px;
    margin: 1vw 1vw;
    list-style: none;
}

ul li {
    margin: 5vw;
    display: inline-block;
}

ul li a {
    padding: 5vw;
    display: inline-block;
}

ul li a img {
    width: 200px;
    display: block;
}

ul li a:hover img {
    transform: scale(2.5);
}

#desktop-angela {
    /*
    margin-top: 77vh;
    margin-left: 20vw;
*/
    box-shadow: 0px 0px 15px 15px #5d5551;
}

#desktop-anne {
    /*
    margin-top: 60vh;
    margin-left: 30vw;
*/
    box-shadow: 0px 0px 15px 15px #655029;
}

#desktop-chloe {
    /*
    margin-top: 50vh;
    margin-left: 50vw;
*/
    box-shadow: 0px 0px 15px 15px #3e2c23;
}

#desktop-devon {
    /*
    margin-top: 24vh;
    margin-left: 28vw;
*/
    box-shadow: 0px 0px 15px 15px #8d7155;
}

#desktop-gray {
    /*
    margin-top: 30vh;
    margin-left: 40vw;
*/
    box-shadow: 0px 0px 15px 15px #52402e;
}

#desktop-hani {
    /*
    margin-top: 35vh;
    margin-left: 55vw;
*/
    box-shadow: 0px 0px 15px 15px #9a613d;
}

#desktop-indiana {
    /*
    margin-top: 41vh;
    margin-left: 20vw;
*/
    box-shadow: 0px 0px 15px 15px #816c44;
}

#desktop-kenny {
    /*
    margin-top: 9vh;
    margin-left: 40vw;
*/
    z-index: 6;
    box-shadow: 0px 0px 15px 15px #77421c;
}

#desktop-mendy {
    /*
    margin-top: 30vh;
    margin-left: 70vw;
*/
    box-shadow: 0px 0px 15px 15px #5c3a2a;
}

p {
    font-family: "Lucida Console", monospace;
}

.pop-up {
    display: none;
    text-align: center;
    /*    padding: 5px;*/
    background: darkolivegreen;
    right: 5%;
    top: 5%;
    width: 10%;
    position: fixed;
    z-index: 999;
}

.pop-up p {
    font-size: 1.5vw;
    color: antiquewhite;
}

#puppy {
    right: 2%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 100px;
    z-index: 2;
}

marquee {
    background-color: darkolivegreen;
    font-family: sans-serif, Verdana, Arial;
    color: antiquewhite;
    font-size: 1vw;
}

.top-marquee {
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-marquee {
    position: absolute;
    bottom: 0.5vh;
    left: 0;
}

.vines {
    position: relative;
}

#vine-layer-1,
#vine-layer-2,
#vine-layer-3,
#vine-layer-4,
#vine-layer-5,
#vine-layer-6 {
    display: none;
}

#vine-1 {
    position: absolute;
    top: -10vh;
    width: 40%;
    z-index: 6;
}

#vine-2 {
    position: absolute;
    top: -3vh;
    left: 50%;
    width: 10%;
    z-index: 7;
}

#vine-3 {
    position: absolute;
    top: -1vh;
    left: 1vw;
    width: 8%;
    z-index: 8;
}

#vine-4 {
    position: absolute;
    top: -8vh;
    right: -1vw;
    width: 20%;
    z-index: 9;
}

#vine-5 {
    position: absolute;
    top: -9vh;
    right: 1.5vw;
    width: 35%;
    z-index: 10;
}

#vine-6 {
    position: absolute;
    transform: rotate(180deg);
    top: -9vh;
    right: 30vw;
    width: 35%;
    z-index: 10;
}

/*I know I could consolidate this into classes with ids just for positioning but... haha just Ctrl + C / Ctrl + V right now before class*/

#welcome-1 {
    right: 3%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 150px;
    z-index: 1;
}

#welcome-2 {
    right: 10%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 200px;
    z-index: 1;
}

#welcome-3 {
    right: 15%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 80px;
    z-index: 1;
}

#welcome-4 {
    right: 21%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 80px;
    z-index: 1;
}

#welcome-bunny {
    right: 25%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 50px;
    z-index: 1;
}

#welcome-sign-5 {
    right: 32%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 50px;
    z-index: 1;
}

#welcome-home {
    right: 35%;
    bottom: 0%;
    position: fixed;
    width: auto;
    height: 60px;
    z-index: 1;
}
